.ChatWindow {
    width: 60%;
    background-color: lightgrey;
    border: 5px solid black;
    height: 370px;
    position: relative;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.body {
    border: 3px solid black;
    width: 60%;
    height: 220px
}

.Input {
    width: 120px;
    
    bottom: 0;
    position: absolute;
}
.footer {
    display: flex;
  
}


.button {
    background-color: blue;
    margin-left: 140px;
    position: absolute;
    bottom: 0;
}

.button:hover {
    background-color: lightblue;

}